.eventToday-date {

    background-color: rgba(240, 110, 0, 1);
    padding: 1%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 8em;

}

.eventToday-info {

    background-color: rgba(230,100,0, 1);
    display: flex;
    flex-direction: column;
}

.eventToday-countdown {

    background-color: rgba(240, 110, 0, 1);
    padding: 1%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}