#headerDiv {
    
    background: rgba(50,50,50, 0.7);
    
    padding: 2%;
    
    border-radius: 16px 16px 0px 0px;
}

#headderText {
    
    color: white;
    margin: 0%;
}


#footerDiv {
    
    background: rgba(50,50,50, 0.7);
    
    margin-top: 0.5em;
    padding: 1%;
    border-radius: 0px 0px 16px 16px;
    
    text-align: center;
}

#footerText {
    
    margin: 0%;
}