.event-date {
    
    background-color: red;
    padding: 1%;
    
    text-align: center;
}

.event-info {
    
    background-color: green;
}

.event-countdown {
    
    background-color: blue;
    padding: 1%;
    
    text-align: center;

}

.subevent-text-main {
    
    margin: 0.5em;
}

.subevent-text-complmenty {
    
    margin: 0.5em;
}